{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block body %}
<h1 class="centered-text">Paws Rescue Center 🐾</h1>

<table border="0">
    <tr> 
        <th> Image </th>
        <th> Name </th>
        <th> Age </th>
        <th> Bio </th>
    </tr>
    {% for pet in my_pets %}
    <tr>
        <th> <a href="details/{{  pet["id"] }}"> <img src="{{url_for('static', filename='{id}.jpg'.format(id = pet["id"]))}}"> </a> </th>
        <th> {{ pet["name"] }} </th>
        <th> {{ pet["age"] }} </th>
        <th> {{ pet["bio"] }} </th>
    </tr>
    {% endfor %}

</table>
{% endblock %}
