.centered-text{
    text-align: center;
}
#title {
    padding: 10px;
    color: #464646;
}
body {
    background: burlywood;
}
table {
    width: 100%;
    text-align: center;
}
th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
img {
    width: 150px;
}
#detail{
    display: flex;
}
#detail-photo{
    flex: 1; /* Allow both divs to grow and take equal space */
    padding: 10px; /* Optional: Add padding for spacing */
}
#detail-info{
    flex: 2.5; /* Allow both divs to grow and take equal space */
    padding: 10px; /* Optional: Add padding for spacing */
}
#detail-img{
    width: 400px;
    border:2px solid #464646;
}