#header {
    padding: 30px;
    text-align: center;
    background: #140005;
    color: white;
    font-size: 40px;
  }
  #footer {
     position: fixed;
     width: 100%;
     background-color: #BBC4C2;
     color: white;
     text-align: center;
     left: 0;
     bottom:0;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;
  }